:root {
    --bold: 700;
    --semi-bold: 600;
    --extra-bold: 800;
    --lavendar: rgb(246, 230, 250);
    --violet: rgb(61, 34, 86);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--lavendar);
}

/* Typography */
h1 {
    font-size: 1.5rem;
    font-family: "Fascinate Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {font-size: 1.25rem;}
h3 {font-size: 1.25rem;}


/* header */

.site-header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    /* top: 0;
    left: 0; */
    background-color: white;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-nav ul {
    display: flex;
    gap: 2rem;
}

.site-nav a {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: var(--semi-bold);
    color: black;
}

/* Cover */

.site-cover {
    background-image: url("/images/site-banner.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    position: relative;
}

.site-profile {
    position: absolute;
    bottom: -4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.site-profile__pic {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 0.25rem solid white;
    object-fit: cover;
}

.site-profile__name {
    margin-top: 0.625rem;
}

/* Posts */

.posts {
    margin-top: 6rem;
    text-align: center;
}

.posts h2 {
    margin-bottom: 1.5rem;
}

.posts__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 1rem;
}

.posts__card {
    display: grid; /*if i remove this, it squishes the text together*/
    grid-column: span 12;
    gap: 0.75rem;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
}

.posts__card img {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.read-more {
    grid-column: 1/-1;
    background-color:blueviolet;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: auto;
    text-decoration: none;
}

/* footer */

.site-footer {
    background-color: rgb(213, 174, 218);
    text-align: center;
    padding: 2rem;
}

/* media query for screens wider than 400px  */

@media screen and (min-width: 800px) {

    h1 {font-size: 2rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.75rem;}

    .site-cover {aspect-ratio: 5/2;}

     .site-nav a {
        font-size: 1.25rem;
     }

    .site-profile {
    bottom: -7rem;} 
    
    .site-profile__pic {
    width: 12rem;
    height: 12rem;}

    .posts {
    margin-top: 10rem;}

    .posts__card {
        grid-column: span 6;
    }
}

@media screen and (min-width: 1200px) {

    .site-cover {aspect-ratio: 6/3;}

    .posts__card {
        grid-column: span 4;
    }
}



