/* To predetermine property values that I used throughout the site */
:root {
    --bold: 700;
    --semi-bold: 600;
    --extra-bold: 800;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #F0D7D7;
}

/* TYPOGRAPHY */
h1 {
    font-size: 1.5rem;
    font-family: "Fascinate Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-size: 1.25rem;
    font-weight: var(--bold);
}
h3 {font-size: 1.25rem;}

/*A grid class to predetermine the grid template for my sections*/
.grid { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}


/* HEADER */
.site-header {
    width: 100%; /*so that it takes up 100% of the available space of its container */
    padding: 1rem; /*to create some space around the content for easier readibility*/
    position: fixed; /*to make sure the navigation scrolls with the site*/
    background-color: white;
    box-shadow: 0 .125rem .625rem rgba(0,0,0,.08); 
    z-index: 1000; /*to make sure the navigation appears above the background image*/
}

.site-header__container {
    display: flex; /*to make sure the logo and the nav are aligned side-by-side;*/
    justify-content: space-between; /*to space them on either end of the container*/
    align-items: center; /*so that they are aligned on the y-axis*/
    width: 100%; /*just to be safe that it is spanning the container's full width*/
    max-width: 80rem; /*keeps the nav bar content aligned center by restricting the container size on bigger screens*/
    margin: 0 auto; /*puts some space on the left and right side of the screen for good alignment*/
}

.site-nav ul {
    display: flex; /*to place the individual nav items side-by-side*/
    gap: 2rem;
}

.site-nav a {
    text-decoration: none; /*to remove default link underline*/
    font-size: 0.80rem;
    font-weight: var(--semi-bold);
    color: black;
}



/* Site Banner */

.site-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("../images/site-banner.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    position: relative; /*basis for the next class so that the text on this banner positions itself absolutely in relation to the background image*/
}

.site-banner__text {
    position: absolute; /*to position the text ontop of the background image*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column; /*because I wanted the heading and p to stack vertically*/
    justify-content: center;
    z-index: 2; /*ensures that the text is positioned on top of the background image*/
    animation: fadeInleft 0.8s ease-out forwards; /*tells this element to animate for 0.8s, ease-out to start fast and end slowly, and forwards stops the animation from looping*/
}

@keyframes fadeInleft {
    /*start stage: telling element to move -1.875rem left and off the screen on the horizontal axis. Opacity is zero to make sure it is not visible at the start*/
    0% {
        opacity: 0;
        transform: translateX(-1.875rem); 
    }
    /*end stage: telling element to stop moving on the horizontal axis. Opacity 1 to tell element to become fully visible*/
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*some manual hard-coding here to make sure the banner text was a bit more aligned in the center*/
.site-banner__text h2 {
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 1rem;
    color: white;
}

.site-banner__text p {
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
}

/* RECENT POSTS HEADING AND BLOG CATEGORIES NAV*/

.blog {
    margin: 1.6rem 1.5rem;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto; /*this one helps to keep it aligned center on bigger screens*/
}

.blog-content h3 {
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
}

.blog-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.blog-nav a {
    text-decoration: none;
    font-size: 0.75rem;
    color: black;
}

.blog-nav a:hover {
    text-decoration: underline;
}

/* BLOG PREVIEW CARDS */

.blog-preview {
    margin: 1rem 0.5rem;

}

.blog-preview__container {
    padding: 0 1rem;
    max-width: 80rem;
    margin: 0 auto; /*keeps alignment on bigger screens*/
    
}

@keyframes scrolling {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.blog-preview__card {
    grid-column: auto / span 12; /*making sure that each card is taking up all the 12 columns which makes the next card move to the next row, creating the stacked look*/
    align-items: start;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    animation: scrolling linear; /*name of animation. linear ensures a smooth uniform pace of scrolling*/
    animation-timeline: view(); /*ensures that the animation happens when the user is interacting/scrolling through the viewport instead of on page load*/
    animation-range: entry 0; /*tells the elements to start animating right as their tops start to appear on the viewport*/
    transition: box-shadow 0.3s ease, transform 0.3s ease; /*takes the element from the :hover below and allows the blog card to apply box-shadow and move up to give it a smooth pop-up effect*/
}

.blog-preview__card:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); /*applies box-shadow on hover*/
    transform: translateY(-6px); /*moves container up by 6px on the vertical axis to give the illusion of popping up*/
}

.blog-preview__image {
    grid-column: auto / span 5; /*telling image to span 5 columns from it's normal position*/
}

.blog-preview__image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.blog-preview__text {
    grid-column: auto / span 6;
    text-align: left;
    padding-left: 0.5rem;
}

.blog-preview__text h4 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
}

.blog-preview__text p {
    line-height: 1.5rem;
}

.read-more {
    margin-top: 1rem;
}

.read-more a {
    text-decoration: none;
    color: #FE5353;
    font-size: 0.8rem;
    
}

.read-more:hover {
    text-decoration: underline;
    text-decoration-color: #FE5353;
}

/*this section is to specifically make the first blog-preview card under the grid container bigger than the rest*/
.blog-preview__card:first-child {
    grid-column: auto / span 12;
    text-align: center;
}

.blog-preview__card:first-child .blog-preview__image {
    grid-column: span 12;
}

.blog-preview__card:first-child .blog-preview__text {
    grid-column: span 12;
    padding: 0;
}



/* SINGLE BLOG PAGE */

.blog-page {
    padding-top: 10rem;
    margin: 0 2rem;
}

.blog-post {
    grid-column: auto / span 12; /*takes up all 12 column on mobile and stacks on top of the about me*/
    gap: 1rem;
}

.blog-post h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.blog-post img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    padding-bottom: 1rem;
}

.blog-post p {
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
}

.sidebar {
     grid-column: auto / span 12; /*takes up all 12 columns and stacks under the blog post on mobile */
}

.about-me__text {
    grid-column: auto / span 12;
}

.about-me__image {
    grid-column: auto / span 12;
}

.sidebar img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    /* padding-bottom: 1rem; */
    border-radius: 50%;
}

.sidebar h3 {
    padding-bottom: 1rem;
    font-weight: var(--semi-bold);
}

.sidebar p {
    line-height: 1.5rem; /*gives it some nice looking spacing between each lines*/
}


/* footer */

.site-footer {
    padding: 1rem;
    background-color: #26150F;
    color: white;
    text-align: center;
    margin-top: auto;
}

.footer-nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}


/* media query for screens with minimum width of 768px and above*/
@media screen and (min-width: 768px) {

    .site-banner {
        aspect-ratio: 3/2;
    }
    
    .site-banner__text h2 {
        font-size: 4rem;
    }

    .site-nav a {
        position: relative;
        display: inline-block;
        padding: 0.25rem 0.25rem;
        z-index: 1;
        overflow: hidden;
    }
    
    .site-nav a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FE5353;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
        z-index: -1;
    }

    .site-nav a:hover::before {
        transform: scaleX(1);
    }

    .blog-content h3 {
    font-size: 3rem;
    }

    .blog-nav a {
        font-size: 1rem;
    }

    .blog-preview__text h4 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    .blog-preview__card:first-child {
    grid-column: auto / span 12;
    align-items: start;
    margin-bottom: 3rem;
    }

    .blog-preview__card:first-child .blog-preview__image {
    grid-column: auto / span 6;
    }

    .blog-preview__card:first-child .blog-preview__text {
    grid-column: auto / span 6;
    padding: 0.5rem; 
    }

    .blog-preview__card:first-child .blog-preview__image img {
        aspect-ratio: 4/3;
    }

    .blog-preview__card:not(:first-child) {
        grid-column: auto / span 6;
    }

    .sidebar{
        grid-column: auto / span 12;
    }

    .about-me__text {
        grid-column: auto/span 6;
    }

    .about-me__image {
        grid-column: auto / span 6;
    }
}


/*media query for screens of 1280px and above*/
@media screen and (min-width: 1280px) {

    .site-banner {
        aspect-ratio: 6/3;
    }

    .site-nav a {
        font-size: 1rem;
    }

    .site-banner__text h2 {
        padding-left: 10rem;
    }

    .site-banner__text p {
        padding-left: 10rem;
    }

    .blog-content {
        padding: 0 1rem;
    }

    .blog-page {
    padding-top: 10rem;
    margin: 0 2rem;
    }

    .blog-post {
        grid-column: auto / span 8;
        gap: 1rem;
    }

    .blog-post h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .blog-post img {
        aspect-ratio: 16/9;
        width: 100%;
        object-fit: cover;
        padding-bottom: 1rem;
    }

    .sidebar {
        grid-column: 11 / 13;
        padding-top: 3rem;
    }

    .about-me__image {
        grid-column: auto / span 12;
    }

    .about-me__text {
        grid-column: auto / span 12;
    }
        
}




