:root {
    --bold: 700;
    --semi-bold: 600;
    --extra-bold: 800;
    --lavendar: rgb(245, 216, 252);
    --violet: rgb(61, 34, 86);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(254, 242, 255);
}

/* Typography */
h1 {
    font-size: 1.5rem;
    font-family: "Fascinate Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-size: 1.25rem;
    font-weight: var(--bold);
}
h3 {font-size: 1.25rem;}


/* header */

.site-header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    background-color: white;
    box-shadow: 0 .125rem .625rem rgba(0,0,0,.08); 
    z-index: 1000;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-nav ul {
    display: flex;
    gap: 2rem;
}

.site-nav a {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: var(--semi-bold);
    color: black;
    transition: color 0.3s ease;
    /* padding: 0.5rem; */
    /* border-radius: 4rem; */
}

.site-nav a:hover {
    background-color: black;
    color: white;
}



/* Cover */

.site-cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/site-banner.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    position: relative;
}

.site-cover__tagline {
  position: absolute;
  top: 45%;
  left: 51%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  z-index: 1;
  padding: 0 1rem;
}

.site-profile {
    position: absolute;
    bottom: -6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.site-profile__pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.25rem solid white;
    object-fit: cover;
}

.site-profile__name {
    margin-top: 0.625rem;
}

/* Posts */

.posts {
    margin-top: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}

.posts h2 {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.posts__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
    background-color: var(--lavendar);
    margin: 1rem;
}

.posts__card {
    display: grid; /*if i remove this, it squishes the text together*/
    grid-column: span 10;
    gap: 0.75rem;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: left;
}

.posts__card img {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.read-more {
    background-color:blueviolet;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: auto;
    text-decoration: none;
}

/* footer */

.site-footer {
    background-color: black;
    text-align: center;
    padding: 2rem;
    color: white;
    /* margin-top: 2rem; */
}

/* media query for screens wider than 400px  */

@media screen and (min-width: 800px) {

    h1 {font-size: 2rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.75rem;}

    .site-cover {aspect-ratio: 5/2;}

     .site-nav a {
        font-size: 1.25rem;
        transition: color 0.3s ease;
        padding: 0.5rem;
        border-radius: 4rem;
     }

    .site-nav a:hover {
    background-color: black;
    color: white;
    }

    .site-profile {
    bottom: -7rem;} 
    
    .site-profile__pic {
    width: 12rem;
    height: 12rem;}

    .posts {
    margin-top: 10rem;}

    .posts__card {
        grid-column: span 6;
    }
}

@media screen and (min-width: 1200px) {

    .site-cover {aspect-ratio: 6/3;}

    .site-profile__pic {
        width: 15rem;
        height: 15rem;
    }

    .posts__card {
        grid-column: span 4;
    }
}



